html{
}
body, a, div, .list-group-item-heading{
    font-size:small;
}


.btn{border-radius: 0;}
.navbar{border-radius: 0;}

.modal-header, .modal-footer{
    border-radius: 0; 
    #background: #fff; 
}



/*Multiple Select Box*/
/*
SELECT, SELECT > INPUT[type="text"] {
    width: 250px;
    box-sizing: btrder-box;
}
SECTION {
    padding: 8px;
    #background-color: #f0f0f0;
    overflow: auto;
    
}
SECTION > DIV {
    float: left;
    padding: 4px;
    
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}
*/
/*Multiple Select Box*/



/* COOLOR */
/*
body{
    background: #F9F9F9;
}

.navbar{
    background: #19535f;
}

.post-title{
    color: #17bebb;
}

a{
    color: #19535f;
}

a:hover, a:active{
    color: #17bebb;
}

.badge{
     background: #19535f;
}
*/